{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Merchant Panel</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css_backend/main.css' %}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt" style="background-color: #0e5e9d">
				<div class="logo"><a href="{% url 'mart_merchant' %}">AIYAGRAMART  <span>Merchant Panel</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu" style="background-color: #0e5e9d;">
				<ul class="links">
                    {% if request.user.is_authenticated and request.user.is_staff %}
					<li>Hi, {{request.user}}</li>
                    {% endif %}
                    <br>
					<li><a href="{% url 'mart_merchant' %}">Go to Mart</a></li>
					<li><a href="#">Add Product</a></li>
					<li><a href="{% url 'logout_request_merchant' %}">Logout</a></li>
				</ul>
            </nav>
          

            <!-- FORM-->
			<div id="product">
				<div class="container">
					<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div id="login-box" class="col-md-12">
								<form id="login-form" class="form" action="{% url 'create_product_merchant' %}" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<h3 class="text-center text-info">Fill this form to add a Product in the mart</h3>
									<br>
									<div class="form-group">
										<label for="product_name" class="text-info">Product Name</label><br>
										<input type="text" name="name" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="description" class="text-info">Brief Description of the product:</label><br>
										<input type="text" name="description" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="warranty_time_in_months" class="text-info">Warranty time(in months)</label><br>
										<input type="number" name="warranty_time_in_months" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="manufacturing_date" class="text-info">Manufacturing Date of Product</label><br>
										<input type="date" name="manufacturing_date" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="manufacturing_company" class="text-info">Manufacturing Company of Product</label><br>
										<input type="text" name="manufacturing_company" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="company_contact_number" class="text-info">Contact Number of Company</label><br>
										<input type="number" name="company_contact_number" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="company_email" class="text-info">Email of Company</label><br>
										<input type="email" name="company_email" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="price" class="text-info">Product Price:</label><br>
										<input type="number" name="price" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="stock" class="text-info">Stock of this product avaiable:</label><br>
										<input type="number" name="stock" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="search_tags" class="text-info">Search Tags of Product:</label><br>
										<input type="text" name="search_tags" class="form-control" required>
									</div>
									<br>
									Add some pictures of the Product:
									<div class="form-group">
										<label for="image_1" class="text-info">Image 1</label><br>
										<input type="file" name="image_1" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="image_2" class="text-info">Image 2</label><br>
										<input type="file" name="image_2" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="image_3" class="text-info">Image 3</label><br>
										<input type="file" name="image_3" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="image_4" class="text-info">Image 4</label><br>
										<input type="file" name="image_4" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="image_5" class="text-info">Image 5</label><br>
										<input type="file" name="image_5" class="form-control" required>
									</div>
									<div class="form-group">
										<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
              



            <!-- Footer -->
		<footer id="footer" style="background-color: #0e5e9d;">
			<div class="inner">

			
				<div class="copyright">
					&copy; Copyrights reserved : Aditya Aggarwal
				</div>

			</div>
		</footer>

		<!-- Scripts -->
			<script src="{% static 'js_backend/jquery.min.js' %}"></script>
			<script src="{% static 'js_backend/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js_backend/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js_backend/skel.min.js' %}"></script>
			<script src="{% static 'js_backend/util.js' %}"></script>
			<script src="{% static 'js_backend/main.js' %}"></script>

	</body>
</html>