{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login Form</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="{% static 'css/main-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><strong>AIYAGRAMART</strong></a>
            </div></div></nav>
            {% if orders %}
            <H1 style="text-align: center;">Your Past Orders: </H1>
            <br>
            {% else %}
            <H1 style="text-align: center;">Your Order List is empty</H1>
            {% endif %}
            <div class="row">
                {% for order in orders %}
                <div class="col-md-4 text-center col-sm-6 col-xs-6">
                    <div class="thumbnail product-box">
                        <img src="{{order.product_ordered.image_1.url}}"  />
                        <span class="label label-warning pull-center">Currently, {{order.product_ordered.stock}} products left</span>
                        <div class="caption">
                            <h3><a href="#">{{order.product_ordered.name}}</a></h3>
                            <p>Price Paid: $ <strong>{{order.product_ordered.price}}</strong>  </p>
                            <p>Transaction ID: <strong>{{order.transaction_id_user}}</strong>  </p>
                            <p>Ordered on: <strong>{{order.created_at}}</strong></p>
                           <p>
                            <form action="{% url 'add_to_cart' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="ID" value="{{order.product_ordered.id}}"}>
                                <button type="submit" class="btn btn-success">Add to Cart to buy again</button>
                            </form>
                                <form action="{% url 'product_details' %}" method="GET">
                                    <input type="hidden" name="ID" value="{{order.product_ordered.id}}"}>
                                    <button type="submit" class="btn btn-primary">See Details of the the product</button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                       <!-- /.col -->
            </div>

    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2020 | &nbsp; All Rights Reserved | &nbsp; 24x7 support | &nbsp; Email us: aditya.iiita2001@gmail.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    <!--Core JavaScript file  -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <!--bootstrap JavaScript file  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--Slider JavaScript file  -->
    <script src="{% static 'js/modernizr.custom.63321.js' %}"></script>
    <script src="{% static 'js/jquery.catslider.js' %}"></script>
    <script>
        $(function () {

            $('#mi-slider').catslider();

        });
		</script>
</body>
</html>
