<!--Only for practice but to delete later-->
    <nav class="navbar navbar-default" role="navigation" style="background-color: #020E06;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><strong>AIYAGRAMART</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li style="color: white;"><a href="#">Hi, {{request.user}}</a></li>
                    {% else %}
                    <li><a href="{% url 'login_request' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Call: </strong>+91 - 6284648753</a></li>
                            <li><a href="#"><strong>Mail: </strong>aditya.iiita2001@gmail.com</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'merchant' %}">Merchant Panel</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout_request' %}"><strong>Logout</strong></a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Keyword Here ..." class="form-control">
                    </div>
                    &nbsp; 
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>










    <div class="well well-lg offer-box text-center">



        Today's Offer : &nbsp; <span class="glyphicon glyphicon-cog"></span>&nbsp;40 % off  on purchase of $ 2,000 and above till 24 dec !                
   
    
     </div>












     
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'img/2.jpg' %}" alt="Los Angeles" style="width:fit-content; height: fit-content;">
            </div>
      
            <div class="item">
              <img src="{% static 'img/3.jpg' %}" alt="Chicago" style="width:fit-content; height: fit-content;">
            </div>
          
            <div class="item">
              <img src="{% static 'img/4.jpg' %}" alt="New york" style="width:fit-content; height: fit-content;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>






      <!-- /.div -->
      <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>
            <li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>
            <li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>
            <li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>
        </ul>
    </div>
    
    <div class="col-md-3 text-center">
        <div class=" col-md-12 col-sm-6 col-xs-6" >
            <div class="offer-text">
                30% off here
            </div>
            <div class="thumbnail product-box">
                <img src="{% static 'img/dummyimg.png' %}" alt="" />
                <div class="caption">
                    <h3><a href="#">Samsung Galaxy </a></h3>
                    <p><a href="#">Ptional dismiss button </a></p>
                </div>
            </div>
        </div>
        <div class=" col-md-12 col-sm-6 col-xs-6">
            <div class="offer-text2">
                30% off here
            </div>
            <div class="thumbnail product-box">
                <img src="{% static 'img/dummyimg.png' %}" alt="" />
                <div class="caption">
                    <h3><a href="#">Samsung Galaxy </a></h3>
                    <p><a href="#">Ptional dismiss button </a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-3">
        
        <!-- /.div -->
        <div class="well well-lg offer-box offer-colors">


            <span class="glyphicon glyphicon-star-empty"></span>25 % off  , GRAB IT                 
      
           <br />
            <br />
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%">
                    <span class="sr-only">70% Complete (success)</span>
                    2hr 35 mins left
                </div>
            </div>
            <a href="#">click here to know more </a>
        </div>
        <!-- /.div -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Electronics</li>
            </ol>
        </div>
        <!-- /.div -->
        <div class="row">
            <div class="btn-group alg-right-pad">
                <button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        Sort Products &nbsp;
<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">By Price Low</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Price High</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Popularity</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <ul class="pagination alg-right-pad">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!-- /.row -->
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Clothing</a></li>
                <li class="active">Men's Clothing</li>
            </ol>
        </div>
        <!-- /.div -->
        <div class="row">
            <div class="btn-group alg-right-pad">
                <button type="button" class="btn btn-default"><strong>3005  </strong>items</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Sort Products &nbsp;
<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">By Price Low</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Price High</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Popularity</a></li>
                        <li class="divider"></li>
                        <li><a href="#">By Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p>
                            <a href="#" class="btn btn-success" role="button">Add To Cart</a>
                            <a href="#" class="btn btn-primary" role="button">See Details</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="{% static 'img/dummyimg.png' %}" alt="" />
                    <div class="caption">
                        <h3><a href="#">Samsung Galaxy </a></h3>
                        <p>Price : <strong>$ 3,45,900</strong>  </p>
                        <p><a href="#">Ptional dismiss button </a></p>
                        <p>Ptional dismiss button in tional dismiss button in   </p>
                        <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <ul class="pagination alg-right-pad">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->

