{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AIYAGRAMART</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="{% static 'css/main-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/navi.css' %}" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    


    <div class="naavbar">
        <a class="navbar-brand" href="{% url 'home' %}"><strong style="font-size: x-large;">AIYAGRAMART</strong></a>
        <div class="subnaav">
          <button class="subnaavbtn">About <i class="fa fa-caret-down"></i></button>
          <div class="subnaav-content">
            <a href="{% url 'about' item='company' %}">Company</a>
            <a href="{% url 'about' item='team' %}">Team</a>
            <a href="{% url 'about' item='career' %}">Careers</a>
          </div>
        </div> 
        <div class="subnaav">
          <button class="subnaavbtn">Services <i class="fa fa-caret-down"></i></button>
          <div class="subnaav-content">
            <a href="#bring">Bring</a>
            <a href="#deliver">Deliver</a>
            <a href="#package">Package</a>
            <a href="#express">Express</a>
          </div>
        </div> 
        <a href="{% url 'merchant' %}">Merchant Panel</a>
        <div class="subnaav">
            <button class="subnaavbtn">Contact<i class="fa fa-caret-down"></i></button>
            <div class="subnaav-content">
                <a href="#"><strong>Call: </strong>+91 - 6284648753</a>
                <a href="#"><strong>Mail: </strong>aditya.iiita2001@gmail.com</a>
            </div>
          </div> 
          {% if user.is_authenticated%}
          <a href="{% url 'logout_request' %}"><strong>Logout</strong></a>
          {% endif %}
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'carttemp' %}">CART</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li style="color: white;"><a href="{% url 'home' %}">Hi, {{request.user}}</a></li>
            {% else %}
            <li><a href="{% url 'login_request' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
          <form class="navbar-form navbar-right" role="search" action="{% url 'search_product' %}" method="GET">
            <div class="form-group">
                <input type="text" name="search_product" placeholder="Enter Keyword Here ..." class="form-control">
            </div>
            &nbsp; 
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <br>
      <h1 style="text-align: center;"><b>{{product.name}}</b></h1>
      <br><br>

      <div class="row">
        <div class="col-md-12">
           
            <div class="main box-border">
                <div id="mi-slider" class="mi-slider">
                    <ul>

                        <li><a href="#">
                            <img src="{{product.image_1.url}}" alt="img01">
                        </a></li>
                        <li><a href="#">
                            <img src="{{product.image_2.url}}" alt="img02">
                        </a></li>
                        <li><a href="#">
                            <img src="{{product.image_3.url}}" alt="img03">
                        </a></li>
                        </ul>
                        <ul>
                            <li><a href="#">
                                <img src="{{product.image_4.url}}" alt="img04">
                            </a></li>
                            <li><a href="#">
                                <img src="{{product.image_5.url}}" alt="img04">
                            </a></li>
                        </ul>
                    <nav>
                        <a href="#">Images</a>
                        <a href="#">More Images</a>
                        
                    </nav>
                </div></div> 
      
                <div style="background-color: #E57F3C; margin-left: 10%; margin-right: 10%;">
                    <h2 style="text-align: center; color: black;">{{product.description}}</h2>
                    <h2 style="text-align: center; color: black;">Warranty is {{product.warranty_time_in_months}} months</h2>
                    <h2 style="text-align: center; color: black;">Price: {{product.price}}
                        <form action="{% url 'add_to_cart' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="ID" value="{{product.id}}"}>
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form></h2>
                    <h2 style="text-align: center; color: black;">Only {{product.stock}} left in stock</h2>
                    <h2 style="text-align: center; color: black;">Manufacturing Company: {{product.manufacturing_company}}</h2>
                    <h2 style="text-align: center; color: black;">If any compalint, email at {{product.company_email}}  or </h2>
                    <h2 style="text-align: center; color: black;">Call us at {{product.company_contact_number}}</h2>
                </div>

















                <br>
<br>
<hr>
<br>
<H1 style="text-align: center;">MORE PRODUCTS</H1>
<div class="row">
    {% for product in all_products %}
    <div class="col-md-4 text-center col-sm-6 col-xs-6">
        <div class="thumbnail product-box">
            <img src="{{product.image_1.url}}"  />
            <span class="label label-warning pull-center">{{product.stock}} products left</span>
            <div class="caption">
                <h3><a href="#">{{product.name}}</a></h3>
                <p>Price : $ <strong>{{product.price}}</strong>  </p>
                
               <p>
                    <a href="#" class="btn btn-success" role="button">Add To Cart</a>
                    <form action="{% url 'product_details' %}" method="GET">
                        <input type="hidden" name="ID" value="{{product.id}}"}>
                        <button type="submit" class="btn btn-primary">See Details</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
           <!-- /.col -->


                <div class="col-md-12 download-app-box text-center">

                    <span class="glyphicon glyphicon-download-alt"></span>Download Our Android App and Get 10% additional Off on all Products . <a href="#" class="btn btn-danger btn-lg">DOWNLOAD  NOW</a>
                    
                    </div>
        <!--Footer -->
        <div class="col-md-12 footer-box">
    
    
            <div class="row small-box pad-botom ">
                <strong>Trending electronic brands :</strong> <a href="{% url 'categorical_search' item='samsung' %}">samsung</a> |  <a href="{% url 'categorical_search' item='sony' %}">Sony</a> | <a href="{% url 'categorical_search' item='micromax' %}">Micromax</a> | 
                <a href="{% url 'categorical_search' item='mi' %}">Xiaomi</a> |<a href="{% url 'categorical_search' item='vivo' %}">Vivo</a> |<a href="{% url 'categorical_search' item='hp' %}">HP</a> |<a href="{% url 'categorical_search' item='dell' %}">Dell</a> |
                <a href="{% url 'categorical_search' item='oppo' %}">Oppo</a> |<a href="{% url 'categorical_search' item='nokia' %}">Nokia</a> |<a href="{% url 'categorical_search' item='itel' %}">Itel</a> |
                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>Send a Quick Query </strong>
                    <hr>
                    <form action="{% url 'query' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
    
                <div class="col-md-4">
                    <strong>Our Location</strong>
                    <hr>
                    <p>
                         834 SST Nagar Patiala<br />
                                        Punjab, India<br />
                        Call: +91 - 6284648753<br>
                        Email: aditya.iiita2001@gmail.com<br>
                    </p>
    
                    All Rights Reserved 2020
                </div>
                <div class="col-md-4 social-box">
                    <strong>We are Social </strong>
                    <hr>
                    <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                    <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. 
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <!-- /.col -->
        <div class="col-md-12 end-box ">
            &copy; 2020 | &nbsp; All Rights Reserved  | &nbsp; 24x7 support | &nbsp; Email us: aditya.iiita2001@gmail.com
        </div>
        <!-- /.col -->
        <!--Footer end -->
        <!--Core JavaScript file  -->
        <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
        <!--bootstrap JavaScript file  -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <!--Slider JavaScript file  -->
        <script src="{% static 'js/modernizr.custom.63321.js' %}"></script>
        <script src="{% static 'js/jquery.catslider.js' %}"></script>
        <script>
            $(function () {
    
                $('#mi-slider').catslider();
    
            });
            </script>
    </body>
    </html>
    